{% extends 'base.html' %}
{% block content %}
    <center><img src="static/1.png" alt="Bootstrap" width="200" height="200">
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <center><b>ENTUDIO</b></center><br>
            <hr>
                <p>At Entudio, we believe that design has the power to transform spaces and elevate experiences. We are passionate about blending aesthetics with functionality, creating harmonious environments that inspire, engage, and enrich the lives of those who inhabit them. Our goal is to not only meet but exceed the expectations of our clients by providing innovative and sustainable design solutions.</p><hr>
                <center><b>STOCK MANAGEMENT</b></center><br>
                <hr>
                <p>Stock management, also known as inventory management, refers to the process of overseeing and controlling the flow of goods or products within a business. It involves the management of stock levels, ordering and replenishment, storage, and tracking of inventory to ensure optimal availability and minimize costs.</p><hr>
        <div>
    </center> 
{% endblock %}
